<div id="<%= dom_id position %>">
  <div>
    <strong>Latitude:</strong>
    <span data-map-target="latitude">
      <%= position.latitude %>
    </span>
  </div>

  <div>
    <strong>Longitude:</strong>
    <span data-map-target="longitude">
      <%= position.longitude %>
    </span>
  </div>

</div>
